.container {
  width: 30rem;
  height: 23rem;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: rgb(29, 220, 134);
  /* border: 1px solid black; */
}

.container .box {
  width: 80%;
  height: 60%;
  margin: 4.5rem 2rem;
  padding: 0 0 0 5px;
  /* border: 1px solid black; */
}

.container .box h1 {
  font-size: 2.5rem;
}

.container .box p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container .box .btn {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: 700;
  background-color: white;
  /* border: 1px solid black; */
}

.profile {
  display: block;
  padding: 0.1rem;
  background-color: white;
  border: 1px solid grey;
}

.profile .Pro {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.profile .Pro img {
  width: 10rem;
  height: 10rem;
  margin-left: 3rem;
}

.profile .seePro {
  padding: 1rem;
  /* border: 1px solid grey; */
}

.profile .seePro a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
}
